<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="./images/bike-background.jpg">
  <title>BikeShop - Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
</head>

<body>

  <!-- The container is provided by Bootstrap. You could directly use the class container-fluid if you wanted it to take the full screen -->
  <div class="container">
    <!-- Rows are used to generate new lines, and therefore it will start to a new column -->
    <div class="row" id="shop-header">
      <div class="col-12">
          <a href="./#" class="mybike">
            <img id="logo-header" src="/images/bike-logo.svg" title="test">The Bike Shop Experience
          </a>
      </div>
    </div>

    <div id="elemrassurant_haut">
      <hr>
      <table width="100%" class="VERDA1">
      <tbody>

      <tr>
          <td align="center">
            <img class='produit' src="./images/valide.jpeg" alt="Produits en stock">
          </td>
        <td>
          <span class="sp"><b>PRODUITS EN STOCK</b></span>
          <br>
          <span>Commandez avant 15h<br>expédiée le jour même</span>
        </td>

        <td align="center">
          <img src="./images/livraisonofferte.png" class='livraison'alt="Livraison offerte">
        </td>
        <td>
          <span class="sp"><b>LIVRAISON OFFERTE</b></span>
          <br>
          <span>Livraison 24/48h offerte<br>dès 99€ d'achat</span>
        </td>

        <td align="center">
          <img src="./images/satisfait2.png" class='satisfait' alt="Satisfait ou remboursé">
        </td>
        <td>
          <span class="sp"><b>SATISFAIT OU REMBOURSÉ</b></span>
          <br>
          <span>Retour possible<br>sous 30 jours</span>
        </td>

        <td align="center">
        <img src="./images/paiement.png" class='paiement' alt="Paiement 100% sécurisé">
        </td>

        <td>
        <span class="sp"><b>PAIEMENT SECURISÉ</b></span>
        <br>
        <span>Carte bleu, Paypal, Virement<br> Chèque</span>
        </td>
      </tr>
      </tbody>
    </table>
    <hr>
  </div>

    <h1 class="titlehome"> Boutique de vélos en ligne </h1>

    <div class="card-deck">
      <div class="card">
        <a href="/produits">
          <img class="card-img-top" src="./images/bike-background.jpg">
        </a>
        <div class="card-body">
          <h5 class="card-title">Notre gamme de vélos</h5>
          <p class="card-text">The Bike Shop Experience vous propose une gamme de vélos avec différents modèles. En cliquant sur le lien ci-dessous, vous aurez accès à la totalité de nos produits</p>
          <a href="/produits" class="buttonvelo btn btn-outline-info">Nos vélos</a>
        </div>
      </div>
      <div class="card">
        <a href="/boutique">
          <img class="boutique card-img-top" src="./images/boutique.jpeg">
        </a>
        <div class="card-body">
          <h5 class="card-title">Notre boutique</h5>
          <p class="card-text">L'ensemble des produits sur internet est aussi, disponible dans notre boutique. Vous pouvez donc vous rendre à notre boutique </p>
          <a href="/boutique" class="buttonboutique btn btn-outline-info">Notre boutique</a>
        </div>
      </div>
      <div class="card">
        <a href="/reparation">
          <img class="boutique card-img-top" src="./images/reparation.jpeg">
        </a>
        <div class="card-body">
          <h5 class="card-title">Notre atelier de réparation</h5>
          <p class="card-text">Et oui, nous avons notre propre atelier de réparation. En cas de besoin n'hésitez pas à vous rendre à l'atelier en béneficiant gratuitement des reparations</p>
          <a href="/reparation" class="buttonreparation btn btn-outline-info">Atelier de réparation</a>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
